@import "../assets/styles/mixines";

$app-header-height: 80px;

.app-header {
  background: $app-primary;
  font-size: 22px;
  font-weight: bold;
  height: $app-header-height;
  color: white;
}

.app-content {
  height: calc(100vh - #{$app-header-height});
  overflow: auto;
  @include styled-scrollbar()
}
